/* donate.css */

.donate-container {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  background: linear-gradient(120deg, #780B78, #3b053b);
  color: #fff;
  }
  
  .donate-title {
    font-size: 2.5rem;
    color: #ffffff; /* Couleur principale */
    margin-bottom: 20px;
  }
  
  .donate-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .donate-options {
    background-color: #780b78;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .donate-subtitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .donate-options ul {
    padding: 0;
    list-style: none;
  }
  
  .donate-options li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .donate-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .donate-button {
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .donate-button:hover {
    background-color: #c2185b;
  }
  
  .donate-thankyou {
    margin-top: 20px;
    font-size: 1.1rem;
    font-style: italic;
    color: #ffffff;
  }
  
  /* Responsivité */
  @media (max-width: 768px) {
    .donate-title {
      font-size: 2rem;
    }
  
    .donate-description {
      font-size: 1rem;
    }
  
    .donate-buttons {
      flex-direction: column;
    }
  
    .donate-button {
      width: 100%;
    }
  }
  